body{
  font-weight: normal;
  font-style: normal;
  font-family: 'UniqueRegular';
  background: #363635;
  border: 40px solid #595A4A;
  border-top: 0px;
  margin: 0px;
}
h1{
  color: #B0FE76;
  text-align: center;
}

.head{
  color: #81E979;
  margin-left: 30px;
}

.text{
  color: #8FBB99;
  margin-left: 10px;
}
.block_one{
  background: #595A4A
}

th{
  color: #81E979;
}

select{
  margin-left: 20px;
}

#login{
  border: 5px solid #595A4A;
  border-left: 0px;
  border-right: 0px;
  text-align: center;
  margin-left: 0px;
}
